.space{
	padding: 10px;
}
.navfont{
	font-size: 23px !important;
}
#overlay {
  width: 100%;
  height: 100%;			  
  display: none;
  position: fixed;
  z-index: 100;
  background:rgba(0,0,0,0.6);
  opacity: 0.6;

}

#pagecontainer {
  position: absolute;
  z-index: 101;
  display: none;
  width: 400px;
  height: 500px;
  
  left: 35%;
  top: 5%
}

#page {
  display: none
}

.background1 {
	
	/*box-sizing: border-box;*/
	width: 100%;
	height: 555px;
	/*padding: 3px;*/
	background-image: url(/images/big_notes.jpg);
	/*border: 1px solid black;*/
	background-size: 100% 100%;						
}

.welcome {
	position: absolute;			
}

#welcome-text{
	position: relative;
	top: 320px;
	left: 0;
}

html, body {
    height: 100%;
}


@media (min-width:992px) {

}

@media (max-width:992px) {

}

#push.pin-top {
    position:relative;
    top: 0;
    width: 100%;
    height: 100%;
}

section.pin-top {
    position: fixed;
    width: 100%;
    z-index:99;
}

section.pinned {
    display:none;
    z-index:1;
}

#push.pinned {
    position: static;
    width: 100%;
    display:none;
}

section {
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top:0;
}

#push {
    position:relative;
    height: 100%;
}

#main {
    background-color:white;
    position:relative;
    z-index:990;
}