<div>
	<h1>Song Title: {{ data.title1 }}</h1>
	<audio controls="true" >
		<source src="{{ data.link1 }}" type="audio/mp3">
	</audio>
</div>
<div>
	<h1>Song Title: {{ data.title2 }}</h1>
	<audio controls="true" >
		<source src="{{ data.link2 }}" type="audio/mp3">
	</audio>
</div>
<div>
	<h1>Song Title: {{ data.title3 }}</h1>
	<audio controls="true" >
		<source src="{{ data.link3 }}" type="audio/mp3">
	</audio>
</div>
<div>
	<h1>Song Title: {{ data.title1 }}</h1>
	<audio controls="true" >
		<source src="{{ data.link1 }}" type="audio/mp3">
	</audio>
</div>

