<!DOCTYPE html>
<html>
	<head>		
		<link rel="stylesheet" href="../css/style.css">
  	</head>
	<body>
		
		<div class="container">
			<form name="loginForm" action="/login" method="POST">
			
				<div class="sign-up">
				    <h2 class="sign-up-title">Login</h2>
				    <input type="email" id="username" name="username" class="sign-up-input" placeholder="What's your email?" autofocus>
				    <input type="password" id="password" name="password" class="sign-up-input" placeholder="Password" autofocus>
				  
		    		<button type="Submit" onclick="parent.closeIFrame()" class="sign-up-button" >Login</button>
	  			</div>		
			</form>
			
		</div>
	</body>
</html>
