<!DOCTYPE html>
<html>
	<head>
		<title>Nanna Radio</title>
		<style type="text/css">
			*{
				text-align: center;
				padding: 5px;
			}
			.container{
				text-align: center;
				border: 1px solid black;
				padding: 10px;
			}
			.responseText{
				border: 1px solid black;
				<!-- background-color: rgba(249, 6, 6, 0.72); -->
			}
		</style>

	</head>
	<body>
		<h1>Please login to continue</h1>
		<div class="container">

			<form name="loginForm" action="/login" method="POST">
			
				<div>
					Email : <input type="email" name="username" id="username" required>
				</div>
				<div>
					Password : <input type="password" name="password" id="password" required>
				</div>
				<input type="Submit" value="Login">

			</form>
			
		</div>
			
	</body>
</html>
