{% extends "base.html" %}
{% block title %}Browse{% endblock %}

{% block body %}
<div class="container">
<br />
<span class="navfont center">
<h2>Search</h2>
</span>
	<nav>
    <div class="nav-wrapper white">
      <form method="POST">
        <div class="input-field">
          <input id="search" name="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>      
        </div>
      </form>
    </div>
  </nav>
<!-- <a href="#!" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')">Click Me</a> -->
  <div class="searchResults">
  	<ol class="navfont">
  	{% for title in results %}  	
  		<li>
  			<span class="center navfont">
  			<a href='{{results[title][0]}}'>{{title}}</a>  			
  			<a href=#! onclick="addToBasket(this)" id='{{results[title][1]}}' class="right"> <i class="material-icons">add</i></a>
  			</span>
  			
  		</li>
	 {% endfor %}
  	</ol>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	function addToBasket(obj) {
		var xhr = new XMLHttpRequest();
		var params = {
			song_id : obj.id,
			action : "add"
		}
		xhr.open('POST','/updatePlaylist',true);
		xhr.send(JSON.stringify(params));

		obj.setAttribute("onclick","removeFromBasket(this)");
		obj.innerHTML = '<i class="material-icons">delete</i>'
		Materialize.toast("Added to playlist",2000);
	}
	function removeFromBasket(obj) {
		var xhr = new XMLHttpRequest();
		var params = {
			song_id : obj.id,
			action : "remove"
		}
		xhr.open('POST','/updatePlaylist',true);
		xhr.send(JSON.stringify(params));
		obj.setAttribute("onclick","addToBasket(this)");
		obj.innerHTML = '<i class="material-icons">add</i>'
		Materialize.toast("Removed from playlist",2000);
	}
</script>
{% endblock %}