{% extends "base.html" %}
{% block title %}Discover{% endblock %}
{% block head %}
	<style type="text/css">
		audio
		{
		-webkit-transition:all 0.5s linear;
		-moz-transition:all 0.5s linear;
		-o-transition:all 0.5s linear;
		transition:all 0.5s linear;
		-moz-box-shadow: 2px 2px 4px 0px #006773;
		-webkit-box-shadow:  2px 2px 4px 0px #006773;
		box-shadow: 2px 2px 4px 0px #006773;
		-moz-border-radius:7px 7px 7px 7px ;
		-webkit-border-radius:7px 7px 7px 7px ;
		border-radius:7px 7px 7px 7px ;
		}

		audio:hover, audio:focus, audio:active
		{
		-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
		-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
		box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
		}

		.audioPlayer {
			position: fixed;
			bottom: 0px;			
			width: 95%;
			left: 30px;
			right: 25px;
		}		

		.container2 {
			padding: 30px;
		}
	</style>
{% endblock %}
{% block body %}
		<div class="container2" id="container">
		<br />		
		<a id="prevBtn" onclick="prevPage()" class="navfont btn btn-flat waves-effect waves-green green white-text left" style="left: 20px;">Prev </a>

		<a href="/discover" class="navfont btn btn-flat waves-effect waves-green green white-text" style="left: 30%;">Home </a>

		<a id="nextBtn" onclick="nextPage()" class="navfont btn btn-flat waves-effect waves-green green white-text right" style="right: 20px;">Next </a>
		<br /><br />
		<div class="center">
		<a class="navfont btn btn-flat"><span id="pageno"></span> of {{songs_count}} Songs</a>
		</div>
		<br />
		<div class="row">
			{% for song in songs %}
			<div class="col s12 m6">
			  <div class="card horizontal small">
			    <div class="card-image">
			      <img src="{{ song[2] }}" >
			    </div>			    
			    <div class="card-stacked">
			      <div class="card-content">
			      	
			        <p><h4>{{ song[0] }}</h4></p>
			        
			      </div>
			      <div class="card-action">			        
			        <a name="{{ song[1] }}" class="btn btn-flat orange white-text navfont" onclick="playSong(this.getAttribute('name'))">Play</a>
			      </div>			    
		      </div>
			  </div>
			</div>
			{% endfor %}
		</div>
			<a id="prevBtn2" onclick="prevPage()" class="navfont btn btn-flat waves-effect waves-green green white-text left" style="left: 20px;">Prev </a>

			<a id="nextBtn2" onclick="nextPage()" class="navfont btn btn-flat waves-effect waves-green green white-text right" style="right: 20px;">Next </a>
			<br /><br /><br />	
			<div class="audioPlayer">	
				<audio id="player" controls="controls" style="width: 100%;">
					<source id="songEntry" type='audio/mpeg'>
				</audio>
			</div>
		</div>

{% endblock %}
{% block script %}
	
<script type="text/javascript">
	window.onload = ready();
	function ready() {
		var val = parseInt(location.search.split('val=')[1]);
		if(isNaN(val))
			val = 0;
		var pageno = document.getElementById("pageno");
		pageno.innerHTML = val+10;
	}
	function nextPage() {		
	    var val = parseInt(location.search.split('val=')[1]);
	    /*If condition to handle NaN value for val*/
	    if(!val)
	    	val = 0;

	    var nextBtn = document.getElementById("nextBtn");
	    nextBtn.href = "/discover?val="+(val+10)

	    var nextBtn2 = document.getElementById("nextBtn2");
	    nextBtn2.href = "/discover?val="+(val+10)

	}
	function prevPage() {		
	    var val = parseInt(location.search.split('val=')[1]);
	    if(!val)
	    	val = 10;	    
	    var prevBtn = document.getElementById("prevBtn");
	    prevBtn.href = "/discover?val="+(val-10)

	    var prevBtn2 = document.getElementById("prevBtn2");
	    prevBtn2.href = "/discover?val="+(val-10)
	}

	function playSong(song_url) {
/*		var audio = new Audio(song_url);
		audio.play();*/
		
		var player = document.getElementById("player");
		var songEntry = document.getElementById("songEntry");
		player.pause();
		songEntry.src = song_url;
		player.load();
		player.play();
	}
</script>
{% endblock %}