<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{ data.img2 }}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p><h1>{{ data.title2 }}</h1></p>
      </div>
      <div class="card-action">
        <a href="{{ data.link2 }}">Play</a>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{ data.img3 }}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p><h1>{{ data.title3 }}</h1></p>
      </div>
      <div class="card-action">
        <a href="{{ data.link3 }}">Play</a>
      </div>
    </div>
  </div>
</div>
