{% extends "base.html" %}
{% block title %}Nanna Radio{% endblock %}
{% block body %}
    {% if not session['user_id'] %}
    <div id="bkgd" class="background1">
        <div class="welcome">
            &nbsp;
            <h1 id="welcome-text">Welcome to Nanna Radio!</h1>
            <h1 id="welcome-text">ನನ್ನ ರೇಡಿಯೋಗೆ ಸ್ವಾಗತ</h1>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <!-- <img id="earphones" src="images/earphones.jpg">
		<img id="bignotes" src="images/big_notes.jpg">
		<img id="musicnotes" src="images/music_notes.gif">
		<img id="banner" src="images/banner.jpg">
		 -->
        <h3>
		{% if session['user_id'] %}
  		Hari: Om {{ session['first'] }}!
		{% endif %}
		</h3>
    </div>
{% endblock %}
