<!DOCTYPE html>
<html>

<head>

    <title>Nanna Radio</title>
    <!-- Include main css -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Include materalize css -->
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
    <link rel="shortcut icon" href="images/favicon.ico">
        <!-- Include jquery before materialize-->
    <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <!-- Include materalize js -->
    <script type="text/javascript" src="js/materialize.js"></script>
    <link href="css/material-icons.css" rel="stylesheet">

    <script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal-trigger').leanModal();
        $('#push,secton').pushpin({ top:$('#push').height() });
    })
    </script>
</head>

<body onload="pageready()">
    <div id="overlay" align="center"></div>
    <!-- The below navigation bar should be written in another file
    and imported here using extends -->
    <div id="nav">
    <div class="navbar-fixed">
        <nav class="blue lighten-2">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">&nbsp;&nbsp;Nanna Radio</a>
                 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> 

                <ul class="left hide-on-med-and-down">
                    <li><a href="/" class="navfont">Home</a>
                    </li>
                    <li><a href="{{ url_for('radioplayer') }}" class="navfont">Radio</a>
                    </li>
                    <li><a href="" class="navfont">Discover</a>
                    </li>
                    <li><a href="" class="navfont">Browse</a>
                    </li>
                </ul>
                {% if session['user_id'] %}
                <ul class="right hide-on-med-and-down">
                    <li><a id="login" href="{{ url_for('logout') }}" class="navfont">Logout</a>
                    </li>
                </ul>
                {% endif %} 

                {% if not session['user_id'] %}

                <div id="pagecontainer">
                    <img id="close" src="images/close.png" style="float: right" />
                    <iframe name="myframe" id="page" width="400" height="500" seamless></iframe>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a id="login" href="{{ url_for('authpage') }}" class="navfont">Login</a>
                    </li>

                    <li><a id="login" href="{{ url_for('signup') }}" class="navfont">New User</a>
                    </li>
                </ul>
                {% endif %}

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/" class="navfont">Home</a>
                    </li>
                    <li><a href="{{ url_for('radioplayer') }}" class="navfont">Radio</a>
                    </li>
                    <li><a href="" class="navfont">Discover</a>
                    </li>
                    <li><a href="" class="navfont">Browse</a>
                    </li>
                    {% if session['user_id'] %}
                    <li><a href="{{ url_for('logout') }}" class="navfont">Logout</a>
                    </li>
                    {% endif %}
                    {% if not session['user_id'] %}
                    <li><a href="{{ url_for('authpage') }}" class="navfont">Login</a>
                    </li>

                    <li><a href="{{ url_for('signup') }}" class="navfont">New User</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    </div>
    <!-- end navigation bar -->

    {% if not session['user_id'] %}
    <div id="bkgd" class="background1">
        <div class="welcome">
            &nbsp;
            <h1 id="welcome-text">Welcome to Nanna Radio!</h1>
            <h1 id="welcome-text">ನನ್ನ ರೇಡಿಯೋಗೆ ಸ್ವಾಗತ</h1>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <!-- <img id="earphones" src="images/earphones.jpg">
		<img id="bignotes" src="images/big_notes.jpg">
		<img id="musicnotes" src="images/music_notes.gif">
		<img id="banner" src="images/banner.jpg">
		 -->
        <h3>
		{% if session['user_id'] %}
  		Hari: Om {{ session['username'] }}!
		{% endif %}
		</h3>
    </div>

    <script type="text/javascript">
        var ifrm = $('#pagecontainer>#page').get(0)
        ifrm.onload = function() {

            $(this).fadeIn("normal")
        }

        $('a#login').click(function(e) {
            e.preventDefault()
            var src = $(this).attr('href')

            $("#overlay").slideDown('normal', function() {
                $('#pagecontainer').slideDown('normal')

                $('#pagecontainer>#page').attr('src', src)
            });

        })

        $('#overlay').click(function() {
            $('#overlay,#pagecontainer,#page').hide();
        })

        $('#pagecontainer>#close').click(function(e) {
            $('#overlay').click()
        })

        function closeIFrame() {
            $('#overlay,#pagecontainer,#page').hide();
            setTimeout("location.reload(true);", 1000);
        }

        function pageready() {
            $("#bkgd").hide();
            $("#bkgd").fadeIn(2000);
        }
    </script>
</body>

</html>