<!DOCTYPE html>
<html>
	<head>
		<title>Nanna Radio</title>
		<!-- Include main css -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- Include materalize css -->
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
		<style type="text/css">
			.space{
				padding: 10px;
			}
			.navfont{
				font-size: 23px;
			}
			#overlay {
			  width: 100%;
			  height: 100%;			  
			  display: none;
			  position: absolute;
			  z-index: 100;
			  background:rgba(0,0,0,0.6);
			  opacity: 0.6;

			}

			#pagecontainer {
			  position: absolute;
			  z-index: 101;
			  display: none;
			  width: 400px;
			  height: 500px;
			  
			  left: 30%;
			  top: 5%
			}

			#page {
			  display: none
			}

		</style>
	</head>
	<body><div id="overlay" align="center"></div>
		<nav>
		<div class="nav-wrapper blue lighten-2">
		
			<div>							
				<a href="" class="navfont left space">Home</a>
				<a href="{{ url_for('radioplayer') }}" class="navfont left space">Radio</a>
				<a href="" class="navfont left space">Discover</a>
				<a href="" class="navfont left space">Browse</a>
				{% if session['user_id'] %}
				<a id="login" href="{{ url_for('logout') }}" class="navfont right space">Logout</a>
				{% endif %}

				
				{% if not session['user_id'] %}

				<div id="pagecontainer">
				<img id="close" src="img/close.png" style="float: right" />
				<iframe name="myframe" id="page" width="400" height="500" seamless></iframe>
				</div>
				
				<a id="login" href="{{ url_for('authpage') }}" class="navfont right space">Login</a>
								
				<a id="login" href="{{ url_for('signup') }}" class="navfont right space">New User</a>
				{% endif %}
			</div>
		
		</div>
		</nav>
		<h1>Welcome to Nanna Radio!</h1>
		<h3>
		{% if session['user_id'] %}
  		Hari: Om {{ session['username'] }}!
		{% endif %}
		</h3>	
		<!-- Include jquery before materialize-->
		<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
		<!-- Include materalize js -->
		<script type="text/javascript" src="js/materialize.js"></script>

		
		<script type="text/javascript">
		var ifrm = $('#pagecontainer>#page').get(0)
		ifrm.onload = function() {

		  $(this).fadeIn("normal")
		}

		$('a#login').click(function(e) {
		  e.preventDefault()
		  var src = $(this).attr('href')

		  $("#overlay").slideDown('normal', function() {
		    $('#pagecontainer').slideDown('normal')

		    $('#pagecontainer>#page').attr('src', src)
		  });

		})

		$('#overlay').click(function() {
		  $('#overlay,#pagecontainer,#page').hide();
		})

		$('#pagecontainer>#close').click(function(e) {
		  $('#overlay').click()
		})

		function closeIFrame(){
			$('#overlay,#pagecontainer,#page').hide();
			setTimeout("location.reload(true);",1000);
		}
		</script>
	</body>
</html>
