{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
<meta id="favr" data-name="{{json_fav}}">
<style type="text/css">
    #resultSuccess {
        color: #006400; /* DarkGreen */
        box-shadow: inset 0 -2px #62c2e4;
    }

    #resultFailure {
        color: red;
        box-shadow: inset 0 -2px #62c2e4;
    }

    .sign-up-input {
      width: 100%                           !important;
      height: 50px                          !important;
      margin-bottom: 25px                   !important;
      padding: 0 15px 2px                   !important;
      font-size: 20px                       !important;
      background: white                     !important;
      border: 2px solid #ebebeb             !important;
      border-radius: 4px                    !important;
      -webkit-box-shadow: inset 0 -2px #ebebeb !important;
      box-shadow: inset 0 -2px #ebebeb      !important;
    }
    .sign-up-input:focus {
      border-color: #62c2e4                 !important;
      outline: none                         !important;
      -webkit-box-shadow: inset 0 -2px #62c2e4 !important;
      box-shadow: inset 0 -2px #62c2e4      !important;
    }

    .user-icon {
        padding-left: 25%;
    }

</style>
{% endblock %}

{% block body %}
<div class="container" style="padding-left: 10%;">
<br />
<img src="images/user-icon.png" height="100px" class="user-icon">
{% for key in profile_data %}

	<div class="row s12">
		<div class="col s6">
			<p class="navfont">{{ key }}</p>
		</div>
		<div class="col s6">

		{% if key=='First Name' or key=='Last Name' or key=='City' or key=='State'%}
        
		<input id="{{ key }}" class="sign-up-input navfont" type="text" value="{{ profile_data[key] }}" >
   
		{% else %}
		<p id="{{ key }}" class="navfont">{{ profile_data[key] }}</p>
		{% endif %}

		</div>	
	</div>

{% endfor %}

<p class="navfont"> Your favourite genres are : </p>

<form action="#">
{% for fav in favourites %}

  {% if favourites[fav] %}
  <p>
  <input type="checkbox" id="{{ fav }}" checked="True" />
  <label for="{{ fav }}" style="font-size: 24px;
                                color: inherit;" >
                                {{ fav }}</label>
  </p>
  {% else %}
  <p>
  <input type="checkbox" id="{{ fav }}" />
  <label for="{{ fav }}" style="font-size: 24px;
                                color: inherit;" >
                                {{ fav }}</label>
  </p>
  {% endif %}

{% endfor %}

</form>

	<p id="result" class="navfont center"></p>
  <div class="center" style="padding-right: 15%">
  <a href="/" class="navfont btn waves-effect green white-text" >Back</a>

	<button style="margin-left: 5em" class="navfont btn waves-effect green white-text" onclick="updateData()" >Update</button>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
function updateData() {
	var first = document.getElementById("First Name").value,
            last = document.getElementById("Last Name").value,
            city = document.getElementById("City").value,
            state = document.getElementById("State").value,
            res = document.getElementById("result"),

            xhr = new XMLHttpRequest(), genreCount=0;
  
        var params = {
            first : first,
            last : last,
            city : city,
            state: state             
        }   


        var favourites = $("#favr").data()['name']

        console.log(favourites)
        

        for(i in favourites) {

          if(document.getElementById(favourites[i]).checked) {
              params['genre'+i] = favourites[i]; 
              genreCount++;      
              /*Only selected genres are send for updation others are removed*/
            }
        }
        params['genreCount'] = genreCount;

        console.log(params)

        xhr.open('POST','/updateProfile',true);
        xhr.send(JSON.stringify(params));
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 2 || xhr.readyState == 3){
                res.innerHTML = 'Request sent, waiting for response';
            }
            if(xhr.readyState == 4 && xhr.status == 200){
                // res.innerHTML = this.responseText;
                // console.log(JSON.stringify(this.responseText));
                console.log("Checking Successfull Request");
                console.log(xhr);
                setTimeout(function(){
                    res.innerHTML = xhr.responseText;
                },2000);
            }
        }
    }
</script>
{% endblock %}