<!DOCTYPE html>
<html>
<head>
	<title>:: Audio Control :: Theme - 2</title>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
  	<link rel="stylesheet" type="text/css" href="css/theme-2.css" />
	<!-- JS FILE's  -->
	<script src="js/jquery-3.1.1.js"></script>
	<script src="js/jquery.audioControls.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#playListContainer").audioControls({
				autoPlay : false,
				timer: 'increment',
				onAudioChange : function(response){
					$('.songPlay').text(response.title + ' ...');
				},
				onVolumeChange : function(vol){
					var obj = $('.volume');
					if(vol <= 0){
						obj.attr('class','volume mute');
					} else if(vol <= 33){
						obj.attr('class','volume volume1');
					} else if(vol > 33 && vol <= 66){
						obj.attr('class','volume volume2');
					} else if(vol > 66){
						obj.attr('class','volume volume3');
					} else {
						obj.attr('class','volume volume1');
					}
				}
			});
		});
	</script>
</head>
<body>
<div class="mainContainer">
<h1>Audio player with Jquery Audio Control Plugin</h1>
<table style="width:100%">
<tr><td valign="top">
	<div class="containerPlayer">
		<div id="listContainer" class="playlistContainer">
		<ul id="playListContainer">
		{% for song in songs %}
			 <li data-src="{{ song[1] }}" >
				<a href="#">
					{{song[0]}}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
		<div id="playerContainer">
		<div id="controlContainer">

			<ul class="controls">
			<li>
				<a href="#" class="shuffle shuffleActive" data-attr="shuffled"></a>
			</li>
				<li>
					<a href="#" class="left" data-attr="prevAudio"></a>
				</li>
				<li>
					<a href="#" class="play" data-attr="playPauseAudio"></a>
				</li>
				<li>
					<a href="#" class="right" data-attr="nextAudio"></a>
				</li>
				<li>
					<a href="#" class="repeat" data-attr="repeatSong"></a>
				</li>
			</ul>
			<div class="audioDetails">
				<span class="songPlay"></span>
				<span data-attr="timer" class="audioTime"></span>
			</div>
			<div class="progress">
				<div data-attr="seekableTrack" class="seekableTrack"></div>
				<div class="updateProgress"></div>
			</div>

		</div>

		<div class="volumeControl">
			<div class="volume volume1"></div>
			<input class="bar" data-attr="rangeVolume" type="range" min="0" max="1" step="0.1" value="0.7" />
		</div>
	</div>
	</div>
	</td>
	<td valign='top' style='text-align:right;width:350px'>
	
	</td></tr>
	</table>

</div>
</body>
</html>
