{% extends "base.html" %}
{% block title %}Radio{% endblock %}
{% block head %}
	<style type="text/css">
	
		.container{
			text-align: center;
			/*border: 1px solid black;*/
			padding: 10px;
		}
	</style>
{% endblock %}
{% block body %}
		<div class="container" id="container">
		{% for song in songs %}
		<div>
			<h3>Song Title: {{ song[0] }}</h3>
			<audio controls="true" >
				<source src="{{ song[1] }}" type="audio/mp3">
			</audio>
		</div>
		{% endfor %}
		</div>

{% endblock %}
{% block script %}
{% endblock %}