<!DOCTYPE html>
<html>
	<head>
		<title>Nanna Radio</title>
		<style type="text/css">
			*{
				text-align: center;
				padding: 5px;
			}
			.container{
				text-align: center;
				border: 1px solid black;
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container" id="container">
		</div>
		<script type="text/javascript">
			var data_global;
			function fetch_all(){
				var btn = document.getElementById('btn_play'),
					container = document.getElementById('container'),
					xhr = new XMLHttpRequest();
					//Opening and sending a XHR request
					xhr.open('POST','/radio/getsongs',true);
					xhr.send(null);
					xhr.onreadystatechange = function(){
						if(xhr.readyState == 4 && xhr.status == 200){
							container.innerHTML = xhr.response;
						}
					};

			};
			window.onload = fetch_all;
		</script>
	</body>
</html>