{% extends "base.html" %}
{% block title %}Radio{% endblock %}
{% block head %}
	<style type="text/css">
	
		.container{
			text-align: center;
			/*border: 1px solid black;*/
			padding: 10px;
		}
	</style>
{% endblock %}
{% block body %}
		<div class="container" id="container">
		</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var data_global;
		function fetch_all(){
			var btn = document.getElementById('btn_play'),
				container = document.getElementById('container'),
				xhr = new XMLHttpRequest();
				//Opening and sending a XHR request
				xhr.open('POST','/radio/getsongs',true);
				xhr.send(null);
				xhr.onreadystatechange = function(){
					if(xhr.readyState == 4 && xhr.status == 200){
						container.innerHTML = xhr.response;
					}
				};

		};
		window.onload = fetch_all;
		</script>
{% endblock %}